	<!--app-content open-->
  <div class="app-content">
      <section class="section">

          <!--page-header open-->
        <div class="page-header">
          <h4 class="page-title" style="color:black">Shop</h4>
          <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="text-light-color">E-Commerce</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop</li>
          </ol> -->
        </div>
        <!--page-header closed-->


        <div class="section-body ">

                        <!--row open-->
          <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3">
              <!-- <div class="card">
                <div class="card-header">
                  <h4>Category</h4>
                </div>
                <div class="card-body">
                  <ul class="nav prod-cat">
                    <li>
                      <a href="#" class="active"><i class=" fa fa-angle-right"></i> Dress</a>
                      <ul class="nav">
                        <li class="active"><a href="#">- Shirt</a></li>
                        <li><a href="#">- Pant</a></li>
                        <li><a href="#">- Shoes</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Bags &amp; Purses</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Beauty</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Coat &amp; Jacket</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Jeans</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Jewellery</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Electronics</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Sports</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Technology</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Watches</a></li>
                    <li><a href="#"><i class=" fa fa-angle-right"></i> Accessories</a></li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h4>Price Range</h4>
                </div>
                <div class="card-body sliders">
                  <div class="">
                    <div class="radio">
                      <input type="radio" name="shop-filter__price" id="shop-filter-price_1" value="" checked="">
                      <label for="shop-filter-price_1">Under $25</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="shop-filter__price" id="shop-filter-price_2" value="">
                      <label for="shop-filter-price_2">$25 to $50</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="shop-filter__price" id="shop-filter-price_3" value="">
                      <label for="shop-filter-price_3">$50 to $100</label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="shop-filter__price" id="shop-filter-price_4" value="specify">
                      <label for="shop-filter-price_4" class="mb-0">Other (specify)</label>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="card">
                <div class="card-header">
                  <h4>Filter</h4>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label">Brand</label>
                    <select name="beast" id="select-beast" class="form-control custom-select">
                      <option value="0">--Select--</option>
                      <option value="1">Wallmart</option>
                      <option value="2">Catseye</option>
                      <option value="3">Moonsoon</option>
                      <option value="4">Textmart</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Color</label>
                    <select name="beast" id="select-beast1" class="form-control custom-select">
                      <option value="0">--Select--</option>
                      <option value="1">White</option>
                      <option value="2">Black</option>
                      <option value="3">Red</option>
                      <option value="4">Green</option>
                      <option value="5">Blue</option>
                      <option value="6">Yellow</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Type</label>
                    <select name="beast" id="select-beast2" class="form-control custom-select">
                      <option value="0">--Select--</option>
                      <option value="1">Extra Small</option>
                      <option value="2">Small</option>
                      <option value="3">Medium</option>
                      <option value="4">Large</option>
                      <option value="5">Extra Large</option>
                    </select>
                  </div>
                  <a class="btn btn-primary" href="#" >Search</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xl-9">
                <div class="card">
                <div class="card-body">
                  <div class="input-group">
                    <input type="text" class="form-control btl-2 bbl-2" placeholder="">
                    <div class="input-group-append">
                      <a href="#" class="btn btn-primary btr-2 bbr-2 text-center mb-0">
                        Search
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row product-list"   >
            
                
               
                <div class="col-sm-4" *ngFor="let item of prd" >
                    <div class="card">
                    <div class="pro-img-box">
                      <img src="assets/img/products/8.jpg" alt="">
                      <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                      </ul>
                    </div>
                    <div class="product_details">
                      <div class="text-center text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <h5 class="pro-title mt-1">{{item.name}}</h5>
                      <ul class="product_price list-unstyled">
                        <!-- <li class="old_price">$370</li> -->
                        <li class="new_price">{{item.price}}</li>
                        <button  (click)="onClick(item)" class="btn btn-primary">Edit</button>
                      </ul>
                    </div>
                  </div>
                </div>
             
              </div>
            </div>
          </div>
          <!--row closed-->

        </div>
      </section>
    </div>
    <!--app-content closed-->
    <footer class="main-footer">
        <div class="text-center">
          Copyright &copy;Splite 2019. Design By<a href="https://spruko.com/"> Spruko</a>
        </div>
    </footer>
