<body class="bg-primary">

  <!--app open-->
  <div id="app" class="page">
    <section class="section section-2">
      <div class="container">
        <div class="">

          <!--single-page open-->
          <div class="single-page">
            <div class="">
              <div class="wrapper wrapper2">
                <form id="login" class="card-body" tabindex="500">
                  <h3 class="text-dark">Login</h3>
                  <div class="mail">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="passwd">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <p class="mb-3 text-allign:center"><a href="forgot.html">Forgot Password</a></p>
                  <div class="submit">
                    <a class="btn btn-primary btn-block " routerLink="/dashboard" href="index.html">Login</a>
                  </div>
                  <div class="signup mb-0">
                    <p class="text-dark mb-0">Don't have account?<a href="register.html" class="text-primary ml-1">Sign
                        UP</a></p>
                  </div>
                </form>

              </div>
            </div>
          </div>
          <!--single-page closed-->

        </div>
      </div>
    </section>
  </div>
</body>