<div class="wave -three"></div>

<div id="spinner"></div>

<!-- app open -->
<div id="app" class="page">
  <div class="main-wrapper">


    <!-- <div id="mCSB_1_container" class="mCSB_container" style="position: relative; left: 0px; top: -395px;" dir="ltr"> -->

    <aside class="app-sidebar mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
      <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;"
        tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container" style="position: relative; left: 0px; top: 0px;" dir="ltr">



<!-- 
          <aside class="app-sidebar"> -->
            <div class="app-sidebar__user">
              <div class="dropdown user-pro-body text-center">
                <div class="nav-link pl-1 pr-1 leading-none ">
                  <img src="../../../assets/img/avatar/avatar-3.jpg" alt="user-img"
                    class="avatar-xl rounded-circle mb-1">
                  <span class="pulse bg-success" aria-hidden="true"></span>
                </div>
                <div class="user-info">
                  <h6 class=" mb-1 text-dark">Alica Nestle</h6>
                  <span class="text-muted app-sidebar__user-name text-sm"> Web-Designer</span>
                </div>
              </div>
            </div>
            <ul class="side-menu">
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fa fa-laptop"></i><span class="side-menu__label">Dashboard</span><span
                    class="badge badge-orange nav-badge">5</span></a>
                <ul class="slide-menu">
                  <li><a class="slide-item" routerLink="/dashboard/index"><span>Sales Dashboard </span></a></li>
                  <li><a class="slide-item" href="index2.html"><span>Social Dashboard</span></a></li>
                  <li><a class="slide-item" href="index3.html"><span>Marketing Dashboard</span></a></li>
                  <li><a class="slide-item" href="index4.html"><span>IT Dashboard</span></a></li>
                  <li><a class="slide-item" href="index5.html"><span>Crypto Currency </span></a></li>
                </ul>
              </li>
              <li>
                <a class="side-menu__item" href="widgets.html"><i class="side-menu__icon fe fe-grid"></i><span
                    class="side-menu__label">Widgets</span></a>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fa fa-envelope-o"></i><span class="side-menu__label">Mail</span><span
                    class="badge badge-warning nav-badge">3</span></a>
                <ul class="slide-menu">
                  <li><a href="mailinbox.html" class="slide-item"> Mail-inbox</a></li>
                  <li><a href="mail-compose.html" class="slide-item"> Mail-Compose</a></li>
                  <li><a href="viewmail.html" class="slide-item"> View-Email</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-cogs"></i><span
                    class="side-menu__label">Components</span><i class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="cards.html" class="slide-item"> Cards</a></li>
                  <li><a href="dragablecards.html" class="slide-item"> Dragable Cards</a></li>
                  <li><a href="loaders.html" class="slide-item"> Loaders</a></li>
                  <li><a href="chat.html" class="slide-item"> Chat</a></li>
                  <li><a href="treeview.html" class="slide-item"> Tree View</a></li>
                  <li><a href="imgcrop.html" class="slide-item"> Image Crop</a></li>
                  <li><a href="order.html" class="slide-item"> Orders</a></li>
                  <li><a href="search.html" class="slide-item"> Search Page</a></li>
                  <li><a href="chattypes.html" class="slide-item">Chat Types</a></li>
                  <li><a href="sortable%26nestable.html" class="slide-item">Sortable & Nestable</a></li>
                  <li><a href="counters.html" class="slide-item"> Counters</a></li>
                  <li><a href="rating.html" class="slide-item"> Ratings</a></li>
                  <li><a href="intro.html" class="slide-item"> Intro(tour)</a></li>
                  <li><a href="clipboard.html" class="slide-item"> Clipboard</a></li>
                  <li><a href="dropzone.html" class="slide-item"> Dropzone</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fe fe-underline"></i><span class="side-menu__label">UI Elements</span><i
                    class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="elements.html" class="slide-item"> Elements</a></li>
                  <li><a href="buttons.html" class="slide-item"> Buttons</a></li>
                  <li><a href="colors.html" class="slide-item"> Colors</a></li>
                  <li><a href="toastr.html" class="slide-item"> Toastr</a></li>
                  <li><a href="calender.html" class="slide-item"> Calendar</a></li>
                  <li><a href="rangesliders.html" class="slide-item"> Rangeslider</a></li>
                  <li><a href="modals.html" class="slide-item"> Modals</a></li>
                  <li><a href="timeline.html" class="slide-item"> Timeline</a></li>
                  <li><a href="invoice.html" class="slide-item"> Invoice</a></li>
                  <li><a href="users.html" class="slide-item"> Users List</a></li>
                  <li><a href="mediaobject.html" class="slide-item"> Media Objects</a></li>
                  <li><a href="grids.html" class="slide-item"> Grids</a></li>
                  <li><a href="panel.html" class="slide-item"> Panels</a></li>
                  <li><a href="tags.html" class="slide-item"> Tags</a></li>
                  <li><a href="scrollbar.html" class="slide-item"> Scrollbar</a></li>
                  <li><a href="headers.html" class="slide-item"> Headers</a></li>
                  <li><a href="footer.html" class="slide-item"> Footers</a></li>

                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fa fa-smile-o"></i><span class="side-menu__label">Icons</span><i
                    class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="icons-fontawesome.html" class="slide-item"> Font Awesome</a></li>
                  <li><a href="icons-simpleline.html" class="slide-item"> Simple line</a></li>
                  <li><a href="icons-themify.html" class="slide-item"> Themify</a></li>
                  <li><a href="icons-flag.html" class="slide-item"> Flag Icons</a></li>
                  <li><a href="icons-feather.html" class="slide-item"> Feather Awesome</a></li>
                  <li><a href="icons-ion.html" class="slide-item"> Ion Icons</a></li>
                  <li><a href="icons-pe7.html" class="slide-item"> pe7</a></li>
                  <li><a href="icons-typicons.html" class="slide-item"> Typicons</a></li>
                  <li><a href="icons-materialdesign.html" class="slide-item"> Material Design</a></li>
                  <li><a href="icons-weather.html" class="slide-item"> Weather Icons</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-table"></i><span
                    class="side-menu__label">Tables</span><span class="badge badge-secondary nav-badge1">New</span></a>
                <ul class="slide-menu">
                  <li><a href="table.html" class="slide-item">Basic Tables</a></li>
                  <li><a href="datatables.html" class="slide-item"> Data Tables</a></li>
                  <li><a href="editable.html" class="slide-item"> Edit Table</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-edit"></i><span
                    class="side-menu__label">Forms</span><span class="badge badge-pink nav-badge">6</span></a>
                <ul class="slide-menu">
                  <li><a href="formelements.html" class="slide-item"> Form Elements</a></li>
                  <li><a href="formadvanced.html" class="slide-item"> Advanced Form</a></li>
                  <li><a href="formeditor.html" class="slide-item"> Form Editor</a></li>
                  <li><a href="formvalidaton.html" class="slide-item"> Form Validation</a></li>
                  <li><a href="formwizard.html" class="slide-item"> Form Wizard</a></li>
                  <li><a href="formelementsadvanced.html" class="slide-item">FormAdvanced Elements</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fa fa-line-chart"></i><span class="side-menu__label">Charts</span><i
                    class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="chartjs.html" class="slide-item">Chart Js</a></li>
                  <li><a href="flotcharts.html" class="slide-item"> Flot Charts</a></li>
                  <li><a href="barcharts.html" class="slide-item"> Bar Charts</a></li>
                  <li><a href="echart.html" class="slide-item"> ECharts</a></li>
                  <li><a href="chartist.html" class="slide-item"> Chartist</a></li>
                  <li><a href="morris.html" class="slide-item"> Morris Charts</a></li>
                  <li><a href="othercharts.html" class="slide-item"> Other Charts</a></li>
                  <li><a href="googlechart.html" class="slide-item"> Google Charts</a></li>
                  <li><a href="hightchart.html" class="slide-item"> HighCharts</a></li>
                  <li><a href="chartgage.html" class="slide-item"> JustGage Charts</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-map"></i><span
                    class="side-menu__label">Maps</span><i class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="maps.html" class="slide-item"> Google Maps</a></li>
                  <li><a href="vector-map.html" class="slide-item">Vector Maps</a></li>
                  <li><a href="mapel.html" class="slide-item">Mapel Maps</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fa fa-folder-open-o"></i><span class="side-menu__label">Pages</span><i
                    class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="profile.html" class="slide-item"> Profile</a></li>
                  <li><a href="editprofile.html" class="slide-item"> Edit Profile</a></li>
                  <li><a href="pricing-tables.html" class="slide-item"> Pricing Tables</a></li>
                  <li><a href="gallery.html" class="slide-item"> Gallery</a></li>
                  <li><a href="portfolio.html" class="slide-item"> Portfolio</a></li>
                  <li><a href="terms.html" class="slide-item"> Terms and Conditions</a></li>
                  <li><a href="faq.html" class="slide-item"> FAQs</a></li>
                  <li><a href="landingpage.html" class="slide-item"> Landing Page</a></li>
                  <li><a href="emptypage.html" class="slide-item"> Empty Page</a></li>
                  <li><a href="blog.html" class="slide-item"> Blog</a></li>
                  <li><a href="blog-detail.html" class="slide-item"> Single Blog Post</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i
                    class="side-menu__icon fe fe-shopping-cart"></i><span
                    class="side-menu__label">E-Commerce</span><span class="badge badge-danger nav-badge">4</span></a>
                <ul class="slide-menu">
                  <li><a href="shop.html" class="slide-item"> Shop</a></li>
                  <li><a href="product-details.html" class="slide-item">Product Details</a></li>
                  <li><a href="product.html" class="slide-item">Product Details-1</a></li>
                  <li><a href="shop-cart.html" class="slide-item"> Shop Cart</a></li>
                </ul>
              </li>
              <li class="slide">
                <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-cube"></i><span
                    class="side-menu__label">Custom Pages</span><i class="angle fa fa-angle-right"></i></a>
                <ul class="slide-menu">
                  <li><a href="register.html" class="slide-item"> Register</a></li>
                  <li><a href="login.html" class="slide-item"> Login</a></li>
                  <li><a href="forgot.html" class="slide-item"> Forgot Password</a></li>
                  <li><a href="reset.html" class="slide-item"> Reset Password</a></li>
                  <li><a href="under-construction.html" class="slide-item"> Under Construction</a></li>
                  <li><a href="lockscreen.html" class="slide-item"> Lock Screen</a></li>
                  <li><a href="404.html" class="slide-item"> 404</a></li>
                  <li><a href="505.html" class="slide-item"> 505</a></li>
                </ul>
              </li>
            </ul>
          </div>
          </div>
          </aside>
        </div>
      </div>