
                <!--app-content open-->
                <div class="app-content">
                  <section class="section">
        
                                <!--page-header open-->
                    <div class="page-header">
                      <h4 class="page-title" style="color:black">Enter Products Catagories</h4>
                     
                    </div>
                    <!--page-header closed-->
        
                                <!--row open-->
                    <div class="row">
                      <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <h4>Product Catagories</h4>
                          </div>
                          <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            <h4 style="color: rgb(167, 163, 163)">Type</h4>
                            <select  [(ngModel)]="size.value" name="size" class="form-control">
                                <option>Men</option>
                                <option>Women</option>	
                                <option>Kids</option>
                               
                                
                              </select>
                        </div>
                        </div>
                      </div>        
                </div> 
                    <!--row closed-->
                <!--app-content closed-->