
		<!--app open-->
		<div id="app" class="page" >
			<div class="main-wrapper" >

			 
                <!--app-content open-->
				<div class="app-content">
					<section class="section">

                        <!--page-header open-->
						<div class="page-header">
							<h4 style="color: black"class="page-title">Product</h4>
							<!-- <ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#" class="text-light-color">Forms</a></li>
								<li class="breadcrumb-item active" aria-current="page">Form Elements</li>
							</ol> -->
						</div>
						<!--page-header closed-->

                        <!--row open-->
						<div class="row">
							
							<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
								<div class="card">
									<div class="card-header">
										<h4>Enter Product</h4>
									</div>
									<div class="card-body">
										<form class="form-horizontal" >
											<div class="form-group row">
												<label class="col-md-3 col-form-label">Product Name</label>
												<div class="col-md-9">
													<input #n class="form-control" type="text" name="name" [(ngModel)]="name">
												</div>
											</div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label">Product Price</label>
                          <div class="col-md-9">
                            <input #p class="form-control" type="text" name="price" [(ngModel)]="prdPrice">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Description</label>
                            <div class="col-md-9">
                              <input #d class="form-control" type="text" name="desc" [(ngModel)]="desc">
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-md-3 col-form-label">Product Status</label>
                              <div class="col-md-9">
                                <input #s class="form-control" type="text" name="status" [(ngModel)]="status">
                              </div>
                            </div>
											<div class="form-group row">
												<label class="col-md-3 col-form-label">Image</label>
                        <div  class="col-md-p">
                            <input type="file" (change)="featuredPhotoSelected($event)"/>
                          </div>
											</div>

											<div class="form-group row">
													<div class="col-md-3 col-sm-12 col-xs-12 form-group">
															
														</div>
														<div class="col-md-2 col-sm-12 col-xs-12 form-group">
																<label style="color: black" >Color</label>
															<input type="text" placeholder="Color" [(ngModel)]="size.color" name="color" class="form-control">
														</div>
														<div class="col-md-2 col-sm-12 col-xs-12 form-group">
																<label style="color: black">Quantity</label>
															<input type="text" placeholder="Quantity" [(ngModel)]="size.quantity" name="quantity" class="form-control">
														</div>
														<div class="col-md-2 col-sm-12 col-xs-12 form-group">
																<label style="color: black">Size</label>
																<select  [(ngModel)]="size.value" name="size" class="form-control">
																		<option>XS</option>
																		<option>S</option>	
																		<option>M</option>
																		<option>L</option>
																		<option>XL</option>
																		<option>XXL</option>
																		<option>XXXL</option>
																		
																	</select>
														</div>
											</div>
										
									
											<div class="form-group row mb-0">
												<label  class="col-md-3 col-form-label">Select Type</label>
												<div class="col-md-9">
													<select (click)="catagory1()" #t [(ngModel)]="type" name="type" class="form-control">
														<option>Men</option>
														<option>Women</option>
														<option>Kid</option>
														
                          </select>
                          <select  #catm [(ngModel)]="catagory" name="catagoryw" class="form-control">
                              <option>Shalwar kameez</option>
                              <option>T-shirts</option>
                              <option>Trouser</option>
                              <option>Jeans</option>
                              <option>Dress Shirts</option>
                              <option>Underwear</option>
                              
                            </select>
                            <select  #catw [(ngModel)]="catagory" name="catagorym" class="form-control">
                                <option>Upper</option>
                                <option>Shalwar Kameez</option>
                                <option>Shirts</option>
                                <option>Jeans</option>
                                <option>Dupata</option>
                                
                                
                              </select>
                              <select  #catk [(ngModel)]="catagory" name="catagoryk" class="form-control">
                                  <option>Night Suit</option>
                                  <option>Kids Trouser</option>
                                  <option>Shirts</option>
                                  <option>School Uniforms</option>
                                  
                                </select>
												</div>
                      </div>
                      <div style="margin-top: 5px">
                          <button type="submit" class="btn btn-danger"  (click)="checkdata()"> <i class="fa fa-floppy-o"></i>
                            Submit</button>
                          <button type="button" class="btn btn-danger" (click)="deleteProduct()"><i class="fa fa-trash"></i>Delete</button>
                          <button type="button" class="btn btn-danger" (click)="resetForm()"><i class="fa fa-repeat"></i>Reset</button>
                          <button type="button" class="btn btn-danger" (click)="updateProduct()"><i class="fas fa-pen"></i>Update</button>
                          <button  routerLink="/invoice" class="btn btn-primary">Total sale</button>
                  
                        </div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!--row closed-->

          
					</section>
				</div>
				<!--app-content closed-->

			
			</div>
		</div>
		<!--app closed-->

	

